<center>
  <br><br>
<div>
  <md-input-container class="mdl-cell mdl-cell--2-col mdl-cell--12-col-phone" style="margin-right: 10px;">
    <label>Año</label>
    <md-select ng-model="year">
      <md-option  value="2016" selected>2016</md-option>
    </md-select>
  </md-input-container>
  <md-input-container class="mdl-cell mdl-cell--2-col mdl-cell--12-col-phone" style="margin-right: 10px;">
    <label>Mes</label>
    <md-select ng-model="month">
      <md-option  value="enero">Enero</md-option>
      <md-option  value="febrero">Febrero</md-option>
      <md-option  value="marzo">Marzo</md-option>
      <md-option  value="abril">Abril</md-option>
      <md-option  value="mayo">Mayo</md-option>
      <md-option  value="junio">Junio</md-option>
      <md-option  value="julio">Julio</md-option>
      <md-option  value="agosto">Agosto</md-option>
      <md-option  value="septiembre">Septiembre</md-option>
      <md-option  value="obtubre">Obtubre</md-option>
      <md-option  value="noviembre">Noviembre</md-option>
      <md-option  value="diciembre">Diciembre</md-option>
    </md-select>
  </md-input-container>

  <button class="mdl-cell mdl-cell--2-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="buscar()">Buscar</button>
</div>

  <div>
    <md-button ng-show="isFactura" ng-disabled="true" class="estado-button {{facturaEstado}}">
      Estado: {{facturaEstado}}
    </md-button>

  </div>

  <div ng-show="isFactura" class="detalle">

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-show="isFacturaClosed()" ng-click="openFileInput()">Pagar</button>

    <div ng-show="isFacturaClosed()" class="mdl-cell  mdl-cell--12-col mdl-cell--12-col-phone  image-file-container">
      <input class="hidden" type='file' id="imgInp" />
      <img  class="mdl-cell  mdl-cell--4-col mdl-cell--12-col-phone" id="blah" src="{{image}}" alt="your image" />
      <button ng-click="uploadImage()" id="btnSaveImage" class="btn btn-default hidden">Guardar imagen</button>
    </div>

<br>
    Tabla Resumen del Mes
    <table class="mdl-cell  mdl-cell--6-col mdl-cell--12-col-phone mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
      <thead>
      <tr>
        <th >ASISTENCIAS TOTALES</th>

        <th>EVENTOS</th>
        <th>TOTAL</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td >{{asistencias}}</td>

        <td>{{facturaDetail.eventos}}</td>
        <td>{{facturaDetail.valor}}</td>
      </tr>

      </tbody>
    </table>
      COSTOS
    <table class="mdl-cell  mdl-cell--6-col mdl-cell--12-col-phone mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
      <thead>
      <tr>

        <th >ASISTENCIA </th>
        <th >CANTIDAD </th>
        <th >COSTO</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>GRATIS</td>
        <td>{{asistenciasFree}}</td>
        <td>{{costoFree}}</td>
      </tr>

      <tr>
        <td>DESCUENTO</td>
        <td>{{asistenciasDesc}}</td>
        <td>{{costoDesc}}</td>
      </tr>

      </tbody>
    </table>

 Detalle
    <table class="mdl-cell  mdl-cell--6-col mdl-cell--12-col-phone mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
      <thead>
      <tr>
        <th >DIA</th>
        <th>NOMBRE</th>
        <th>ASISTENCIAS</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="event in events">
        <td>{{event.date  | date:'medium'}}</td>
        <td>{{event.name}}</td>
        <td>{{event.asistencias}}</td>
      </tr>

      </tbody>
    </table>
    </div>

</center>
