<br><br>

<center>
	<div class="mdl-grid">
<div class="event  mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-phone"
	 ng-repeat="event in events | orderBy:'date' " ng-click="goToEventDetails(event)">


	<div class=" ">
		<div class="thumbnail">
			<center>
				<div class="event-img"
					 style="background: url('{{event.image}}') center center; background-size: cover;">
					<div class="event-overlay">

						<div class="event-date ">
							<!--  <i class="material-icons " style="vertical-align: middle;">event</i>   -->
							{{event.date | date:"EEEE d', 'MMMM " }}
						</div>

						<div class="event-name"><!-- {{event.name}} -->
							<!-- <i class="material-icons" style="vertical-align: middle;">center_focus_strong</i> -->
							<!--	GRATIS HASTA
								{{event.freemiumHour | date:'shortTime'}}
								-->
						</div>


					</div>


				</div>
				<div class=" mdl-color--white">
					<div class="textoNombreEvento">
						{{event.name}} <br>
					</div>

					<button class="mdl-cell mdl-cell--5-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect "
							ng-click="redirectToEvent($index)" >Editar</button>

					<button class="mdl-cell mdl-cell--5-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect "
							ng-click="duplicateEvent($index)">Eliminar</button>

					<!--	<div class="j2">
							<i class="material-icons" style="vertical-align: middle;">music_note</i>
							{{event.musicGenres}} <i class="material-icons" style="vertical-align: middle;">layers</i>
							{{event.eventEnvironment}} <br>
						</div>
						<i class="material-icons" style="vertical-align: middle;">store</i>{{getClub(event.clubs)}}-->


				</div>
			</center>

		</div>
	</div>
</div>
		 </div>
</center>