<center>

    <a class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone
      mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="#!/createRrpp">
        AGREGAR RRPP
    </a>


    <table class=" mdl-cell--10-col mdl-cell--10-col-phone mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
        <thead>
        <tr  >
            <th>Habilitado</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Link</th>

         <!--   <th>ASISTENCIAS MENSUALES</th> -->

        </tr>
        </thead>
        <tbody ng-repeat="rrpp in rrpps">
        <tr>

            <td>
                <i ng-show="rrpp.admins == false"  ng-click="validar(rrpp)" aria-hidden="true">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">&#xE5CD;</i>
                </button>
            </i>
                <i ng-show="rrpp.activo == true"  ng-click="validar(rrpp)" aria-hidden="true">
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                        <i class="material-icons">&#xE876;</i>
                    </button>
                </i></td>
            <td>{{rrpp.name}}</td>
            <td>{{rrpp.email}}</td>
            <td><a href="http://izinait.com/app/#!/rrpp#{{rrpp.nickName}}">http://izinait.com/app/#!/rrpp#{{rrpp.nickName}}</a> </td>



          <!--   <td><button class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone
      mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="#!/createRrpp">
                VER
            </button></td> -->


        </tr>
        </tbody>
    </table>


</center>