<center>
	<br>


	<!--<div class="filter-container">

		<md-input-container class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone">
			<label >buscar por nombre</label>
			<input type="text" class="mdl-textfield__input" type="text" id="nombreEvento" ng-keyup="filterEventsByText()" ng-model="filterNameInput">

		</md-input-container>


				<div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone searsh-date  searsh-item">
			<md-datepicker class="searsh-date" ng-model="filterDateInput" ng-change="filterEventsByDate()"></md-datepicker>
		</div>


		<button  ng-click="seeAllEvents()"
				 class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Ver Todos</button>

	</div> -->
	<br>


	<div class="mdl-grid">

	<div class="event  mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-phone"
		 ng-repeat="event in eventsWithServices  " ng-click="goToEventDetails(event)">


		<div class="">
			<div class="thumbnail mdl-color--white">
				<center>
					<div style="float: left" class="mdl-cell--6-col mdl-cell--12-col-phone">
					<div class="event-img "
						 style="background: url('{{event.image}}')  center center; background-size: cover; ">
						<div class="event-overlay">

							<div class="event-date ">
								<!--  <i class="material-icons " style="vertical-align: middle;">event</i>   -->
								{{event.date | date:"EEEE d', 'MMMM " }}
							</div>

							<div class="event-name"><!-- {{event.name}} -->
								<!-- <i class="material-icons" style="vertical-align: middle;">center_focus_strong</i> -->
							<!--	GRATIS HASTA
								{{event.freemiumHour | date:'shortTime'}}
								-->
							</div>


						</div>
					</div>
					</div>
					<div  style="float: left" class=" mdl-cell--6-col mdl-cell--12-col-phone">
						Servicios<br>
						<div ng-repeat="reserva in event.reservas  ">
							<tr>


								<td>{{reserva.tipo	}}</td>
								<td>{{reserva.utilizados}} </td>



							</tr>

						</div>
						<a class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect "
						   href="http://izinait.com/app/#!/detalleEvento?id={{event.$id}}">Ver en Izinait</a>
						<i ng-show="event.visible == false" aria-hidden="true">
							<button  class="mdl-button mdl-js-button mdl-button--primary">
								Pendiente
							</button>
						</i>
						<i ng-show="event.visible == true"  aria-hidden="true">
							<button class="mdl-button mdl-js-button mdl-button--accent">
								Habilitado
							</button>
						</i>
					</div>

					<div style="clear:both;" class=" mdl-color--white">
						<div class="textoNombreEvento">
							{{event.name}} <br>

						</div>

						<button class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect "
								ng-click="redirectToEvent($index)" >Informe</button>

						<button class=" mdl-cell--4-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect "
								ng-click="duplicateEvent($index)">Duplicar</button>

						<button class="mdl-cell	 mdl-cell--4-col mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect "
								ng-click="duplicateEvent($index)">Editar</button>

					<!--	<div class="j2">
							<i class="material-icons" style="vertical-align: middle;">music_note</i>
							{{event.musicGenres}} <i class="material-icons" style="vertical-align: middle;">layers</i>
							{{event.eventEnvironment}} <br>
						</div>
						<i class="material-icons" style="vertical-align: middle;">store</i>{{getClub(event.clubs)}}-->


					</div>
				</center>

			</div>
		</div>




	</div>

</div>
	</center>




